nav {
  background-color: #1a202e;
  padding: 15px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin-right: 10px;
}

a {
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  text-decoration-line: none;
  transition: all 0.3s ease;
}

a:hover {
  background-color: #fff;
  color: #333;
  border-radius: 5px;
}
