.customer-details {
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 20px;
  margin: 20vh auto 0;
  max-width: 400px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 5px;
  }

  strong {
    font-weight: bold;
  }
}

.loading-message {
  font-style: italic;
  color: gray;
  text-align: center;
  margin-top: 20px;
}
