<div *ngIf="customer" class="customer-details">
  <h2>Customer Details</h2>
  <p><strong>First Name:</strong> {{ customer.firstname }}</p>
  <p><strong>Last Name:</strong> {{ customer.lastname }}</p>
  <p><strong>Date of Birth:</strong> {{ customer.dateOfBirth }}</p>
  <p><strong>Address:</strong> {{ customer.address }}</p>
  <p><strong>Zip Code:</strong> {{ customer.zipCode }}</p>
  <p><strong>City:</strong> {{ customer.city }}</p>
</div>

<div *ngIf="!customer" class="loading-message">
  <p>Loading customer details...</p>
</div>
