<div class="main-container">
  <mat-form-field class="search-container">
    <input matInput class="search-input" placeholder="Recherche..." autocomplete="off" (keyup)="filterData($event)">
  </mat-form-field>
</div>

<div class="sub-container mat-elevation-z8">
  <mat-table [dataSource]="dataSource" matSort>

    <!-- Firstname Column -->
    <ng-container matColumnDef="firstname">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Firstname </mat-header-cell>
      <mat-cell *matCellDef="let customer"> {{customer.firstname}} </mat-cell>
    </ng-container>

    <!-- Lastname Column -->
    <ng-container matColumnDef="lastname">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Lastname </mat-header-cell>
      <mat-cell *matCellDef="let customer"> {{customer.lastname}} </mat-cell>
    </ng-container>

    <!-- Date of Birth Column -->
    <ng-container matColumnDef="dateOfBirth">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Date of Birth </mat-header-cell>
      <mat-cell *matCellDef="let customer"> {{customer.dateOfBirth}} </mat-cell>
    </ng-container>

    <!-- Address Column -->
    <ng-container matColumnDef="address">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Address </mat-header-cell>
      <mat-cell *matCellDef="let customer"> {{customer.address}} </mat-cell>
    </ng-container>

    <!-- Zip Code Column -->
    <ng-container matColumnDef="zipCode">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Zip Code </mat-header-cell>
      <mat-cell *matCellDef="let customer"> {{customer.zipCode}} </mat-cell>
    </ng-container>

    <!-- City Column -->
    <ng-container matColumnDef="city">
      <mat-header-cell *matHeaderCellDef mat-sort-header> City </mat-header-cell>
      <mat-cell *matCellDef="let customer"> {{customer.city}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
      <mat-cell *matCellDef="let customer">
        <button mat-icon-button (click)="showCustomerDetails(customer.id)">
          <mat-icon class="open">visibility</mat-icon>
        </button>
        <button mat-icon-button (click)="editCustomer(customer.id)">
          <mat-icon class="edit">drive_file_rename_outline</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteCustomer(customer.id, customer.firstname)">
          <mat-icon class="delete">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let customer; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
</div>
