/* customers-add.component.scss */
form {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrer horizontalement */
  justify-content: center; /* Centrer verticalement */
  height: 100vh; /* Occupe toute la hauteur de la fenêtre */

  div {
    width: 60%; /* Largeur égale */

    margin-bottom: 15px;

    label {
      font-weight: 500;
      margin-bottom: 5px;
    }

    input {
      width: 100%; /* Largeur égale */
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 14px;
    }
  }

  button[type="submit"] {
    width: 60%; /* Largeur égale */
    margin-top: 10px; /* Espacement avec les champs de saisie */

    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #45a049;
    }
  }
}
