<!-- customers-update.component.html -->
<form (ngSubmit)="updateCustomer()">
  <h2>Update Customer</h2>
  <div>
    <label for="firstname">Firstname:</label>
    <input type="text" id="firstname" name="firstname" [(ngModel)]="customer.firstname" required>
  </div>
  <div>
    <label for="lastname">Lastname:</label>
    <input type="text" id="lastname" name="lastname" [(ngModel)]="customer.lastname" required>
  </div>
  <div>
    <label for="dateOfBirth">Date of Birth:</label>
    <input type="date" id="dateOfBirth" name="dateOfBirth" [(ngModel)]="customer.dateOfBirth" required>
  </div>
  <div>
    <label for="address">Address:</label>
    <input type="text" id="address" name="address" [(ngModel)]="customer.address" required>
  </div>
  <div>
    <label for="zipCode">Zip Code:</label>
    <input type="text" id="zipCode" name="zipCode" [(ngModel)]="customer.zipCode" required>
  </div>
  <div>
    <label for="city">City:</label>
    <input type="text" id="city" name="city" [(ngModel)]="customer.city" required>
  </div>
  <button type="submit">Update Customer</button>
</form>
